/* font for traditional chinese */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  overflow-x: hidden;
}
// Variables
$Black: #353535;
$White: #fff;
$BrightGrey: #555762;
$LightBlack: #4f4f4f;
$MainColor: #5efff2;
$MainPurple: #7b6ff6;

$SecondaryColor: #546bed;

// variables
$FooterHeight: 127px;
$HeaderHeight: 80px;

img {
  user-select: none;
  -webkit-user-drag: none;
}

@mixin phone {
  @media screen and (max-width: 620px) {
    @content;
  }
}

@mixin pad {
  @media screen and (max-width: 1050px) {
    @content;
  }
}
